<div style="text-align:center; background-color: black; color: white;">
  <div style="display: flex; justify-content: center; align-items: center;">
    <img src="assets/icon.png" alt="Icon" style="width: 50px; margin-right: 10px;">
    <h1>GitHub User Info</h1>
    <img src="assets/github-mark-white.png" alt="GitHub Logo" style="width: 40px; margin-left: 10px;">
  </div>

  <!-- Search Bar -->
  <p class="description">Explore GitHub profiles with ease! Simply enter a GitHub user or organization name into the search box and hit 'Submit' to uncover a wealth of profile information, including repositories, total commits, and more. Start your journey into the GitHub universe now and discover the insights you've been looking for.</p>
  <input id="user-search-box" [(ngModel)]="username" class="search-box" placeholder="Enter GitHub Username">
  <button (click)="searchUser()" class="search-button">Search</button>

  <!-- Error Message -->
  <div *ngIf="errorMessage">
    <p style="color: red;">{{ errorMessage }}</p>
  </div>
  
  <!-- User Info -->
  <div *ngIf="userInfo">
    <a [href]="'https://avatars.githubusercontent.com/u/' + userInfo.id + '?v=4'" target="_blank">
      <img [src]="userInfo.avatar_url" alt="Profile Image" class="profile-image">
    </a>
    <h2><a href="https://github.com/{{ userInfo.login }}" target="_blank">{{ userInfo.login }}</a></h2>
    <p><span class="field-title">ID:</span> <span class="field-value">{{ userInfo.id ?? 'N/A'}}</span></p>
    <p><span class="field-title">Type:</span> <span class="field-value">{{ userInfo.type ?? 'N/A'}}</span></p>
    <p><span class="field-title">Name:</span> <span class="field-value">{{ userInfo.name ?? 'N/A'}}</span></p>
    <p><span class="field-title">Bio:</span> <span class="field-value">{{ userInfo.bio ?? 'N/A'}}</span></p>
    <p><span class="field-title">Company:</span> <span class="field-value">{{ userInfo.company ?? 'N/A'}}</span></p>
    <p><span class="field-title">Location:</span> <span class="field-value">
      <ng-container *ngIf="userInfo.location; else naTemplate">
        <a href="https://www.google.com/maps/search/{{userInfo.location}}" target="_blank">{{ userInfo.location }}</a>
      </ng-container>
      <ng-template #naTemplate>N/A</ng-template>
    </span></p>
    <p><span class="field-title">Email:</span> <span class="field-value">
      <ng-container *ngIf="userInfo.email; else naTemplate">
        <a href="mailto:{{userInfo.email}}" target="_blank">{{ userInfo.email }}</a>
      </ng-container>
    </span></p> 
    <p><span class="field-title">Website:</span> <span class="field-value">
      <ng-container *ngIf="userInfo.blog; else naTemplate">
        <a [href]="getCompleteUrl(userInfo.blog)" target="_blank">{{ userInfo.blog }}</a>
      </ng-container>
    </span></p>
    <p><span class="field-title">Hireable:</span> <span class="field-value">{{ userInfo.hireable ? 'True' : 'False' }}</span></p>
    <p><span class="field-title">X:</span> <span class="field-value">
      <ng-container *ngIf="userInfo.twitter_username; else naTemplate">
        <a href="https://x.com/{{userInfo.twitter_username}}" target="_blank">{{ userInfo.twitter_username }}</a>
      </ng-container>
    </span></p>
    <p><span class="field-title">Public Repos:</span> <span class="field-value">
      <ng-container *ngIf="userInfo.public_repos > 0; else zeroTemplate">
        <a href="https://github.com/{{userInfo.login}}?tab=repositories" target="_blank">{{ userInfo.public_repos }}</a>
      </ng-container>
      <ng-template #zeroTemplate>0</ng-template>
    </span></p>
    <p><span class="field-title">Public Gists:</span> <span class="field-value">
      <ng-container *ngIf="userInfo.public_gists > 0; else zeroTemplate">
        <a href="https://gist.github.com/{{userInfo.login}}" target="_blank">{{ userInfo.public_gists }}</a>
      </ng-container>
    </span></p>
    <p><span class="field-title">Followers:</span> <span class="field-value">
      <ng-container *ngIf="userInfo.followers > 0; else zeroTemplate">
        <a href="https://github.com/{{userInfo.login}}?tab=followers" target="_blank">{{ userInfo.followers }}</a>
      </ng-container>
    </span></p>
    <p><span class="field-title">Following:</span> <span class="field-value">
      <ng-container *ngIf="userInfo.following > 0; else zeroTemplate">
        <a href="https://github.com/{{userInfo.login}}?tab=following" target="_blank">{{ userInfo.following }}</a>
      </ng-container>
    </span></p>
 
    <!-- Only display the total stars and commits if a personal access token is being used -->
    <p *ngIf="usePersonalAccessToken"><span class="field-title">Total Stars:</span> <span class="field-value">{{ totalStars }}</span></p>
    <p *ngIf="usePersonalAccessToken"><span class="field-title">Total Commits:</span> <span class="field-value">{{ totalCommits }}</span></p>
    <p><span class="field-title">Account Created At:</span> <span class="field-value">{{ userInfo.created_at ?? 'N/A'}}</span></p>
    <p><span class="field-title">Account Updated At:</span> <span class="field-value">{{ userInfo.updated_at ?? 'N/A'}}</span></p>
    
    <!-- Rate Limit Info -->
    <h3>API Rate Info:</h3>
    <p><span class="field-title">Rate Limit:</span> <span class="field-value">{{ rateLimit }}</span></p>
    <p><span class="field-title">Remaining Requests:</span> <span class="field-value">{{ rateRemaining }}</span></p>
    <p><span class="field-title">Resets At:</span> <span class="field-value">{{ rateReset * 1000 | date:'medium' }}</span></p>

  </div>

</div>
