body
  background-color: black
  color: white

input, button
  margin-top: 1rem
  margin-bottom: 1rem

.profile-image
  border-radius: 50%
  width: 200px

.rate-info
  color: gray

.field-title
  color: gray
  font-size: 0.8em
  margin-right: 4px  // Adds a little space between the title and the value

.field-value
  // You can add styles specific to the value here if needed

$link-color: lightblue
$link-hover-color: darkblue
$link-visited-color: lightgray

a
  color: $link-color
  &:hover
    color: $link-hover-color
  &:visited
    color: $link-visited-color
